/* Add CSS styling here */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
    /*General Styles*/
    *{
        box-sizing: border-box;
        margin:0;
        padding:0;
        max-width:100%;
    }
    html{
        font-size:62.5%;
    }
    body{
        font-size:1.8rem;
        color:#4f4f4f;
        line-height:1.5;
        background-color:lavender;
    }
    h1{
        font-size:5rem;
    }
    h2{
        font-size:4rem;
    }
    p{
        font-size:1.8rem;
    }
    nav a{
        text-decoration:none;
    }
    /*Header styles*/
    header{
        display:flex;
        justify-content: center;
        align-items: center;
        border:1px solid black;
    }
    header h3{
      font-size:2.5rem;
    }
    .top div{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:1%;
    }
   .topnav a{
       border:2px solid black;
       padding:1%;
       width:100px;
       text-align:center;
       background-color:seashell;
       color:darkslategray;
   }
   .topnav a:hover{
       background-color:blueviolet;
       color:white;
   }
   .topnav{
       display:flex;
       flex-direction:row;
   }
   .aboutme{
       margin: auto 20%;
   }
   .aboutme p{
       font-size:2rem;
   }
  
   /*Picture styling*/
   .middleimage{
       display:flex;
       justify-content:center;
       align-content:center;
       padding: 25px 0;
   }
   .bottom{
       display:flex;
   }
   .bottom .bot-img{
       border:4px solid steelblue;
       margin:1%;
   }
   .bottomtext{
       display:flex;
       justify-content:right;
       align-items:center;
       width:25%;
   }
   .bottomtext p{
       font-size:2.2rem;
       
   }

   /*Footer styles*/
   footer{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    padding:2%;
    background-color:seashell;
   }
   footer nav a{
    border:2px solid black;
    text-align:center;
    background-color:lavenderblush;
    color:darkslategray;
    padding:8px;
   }
   footer nav a:hover{
    background-color:blueviolet;
    color:white;
   }
 
   /*Responsive Styling*/
   @media(max-width:800px){
    .bottom{
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        
    }
    .bottom .bot-img img{
        width:55%;
    }
    .middleimage img{
        width:60%;
    }
    .bottom .bot-img{
        border:none;
        margin:auto;
    }
    .bottomtext{
        width:60%;
    }
   }

   @media(max-width:500px){

   }